In [1]:
import os
from os.path import join as jp

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from dpipe.io import load

# LapSRN

In [26]:
# Manga109 is ok
# BSDS100 is ok (mix)
# Set5 is ok
# Set14 is ok
# Urban100 is ok 
# historical :: LR only

In [4]:
lapsrn_path = '/gpfs/gpfs0/b.shirokikh/data/SR/LapSRN/testing_datasets/'

In [5]:
os.listdir(lapsrn_path)

['BSDS100', 'Manga109', 'historical', 'Set14', 'Set5', 'Urban100']

In [13]:
for dataset_name in os.listdir(lapsrn_path):
    data_path = jp(lapsrn_path, dataset_name)
    
    records = []
    for i, fname in enumerate(os.listdir(data_path)):
        _id = f'{dataset_name}_{i}'
        records.append({'id': _id, 'image': fname})
    images = pd.DataFrame.from_records(records, index='id')
    images.to_csv(jp(data_path, 'images.csv'), index_label='id')

# t91

In [ ]:
# t91 is ok (grass/flowers/landscape)

In [28]:
t91_path = '/gpfs/gpfs0/b.shirokikh/data/SR/t91'

In [42]:
dataset_name = 't91'
data_path = t91_path
    
records = []
for i, fname in enumerate(os.listdir(data_path)):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': fname})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')

# General_100

In [ ]:
# General_100 is ok

In [4]:
general100_path = '/gpfs/gpfs0/b.shirokikh/data/SR/General_100/'

In [5]:
dataset_name = 'General_100'
data_path = general100_path
    
records = []
for i, fname in enumerate(os.listdir(data_path)):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': fname})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')

# BSDS500

In [ ]:
# BSDS500 (BSR/BSDS500/data) is ok

In [2]:
bsds500_path = '/gpfs/gpfs0/b.shirokikh/data/SR/BSDS500/'

In [3]:
dataset_name = 'BSDS500'
data_path = bsds500_path
    
records = []
for i, fname in enumerate(os.listdir(jp(data_path, 'images'))):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': f'images/{fname}'})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')

records = []
for i, fname in enumerate(os.listdir(jp(data_path, 'contours'))):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': f'contours/{fname}'})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'contours.csv'), index_label='id')

# DIV2K

In [ ]:
# DIV2K is ok
# TODO: metadata for subsampled images

In [4]:
div2k_path = '/gpfs/gpfs0/b.shirokikh/data/SR/DIV2K/'

In [5]:
dataset_name = 'DIV2K'
data_path = div2k_path
    
records = []
for i, fname in enumerate(os.listdir(jp(data_path, 'DIV2K_train_HR', 'DIV2K_train_HR'))):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': f'DIV2K_train_HR/DIV2K_train_HR/{fname}', 'fold': 'train'})

n_train = len(records)
for i, fname in enumerate(os.listdir(jp(data_path, 'DIV2K_valid_HR', 'DIV2K_valid_HR'))):
    _id = f'{dataset_name}_{i + n_train}'
    records.append({'id': _id, 'image': f'DIV2K_valid_HR/DIV2K_valid_HR/{fname}', 'fold': 'valid'})

images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')

# Celeba

In [ ]:
# Celeba is ok

In [7]:
celeba_path = '/gpfs/gpfs0/b.shirokikh/data/SR/celeba/'

# m = pd.read_csv(jp(celeba_path, 'list_attr_celeba.csv'))
m = pd.read_csv(jp(celeba_path, 'list_landmarks_align_celeba.csv'))
m.head()

,image_id,lefteye_x,lefteye_y,righteye_x,righteye_y,nose_x,nose_y,leftmouth_x,leftmouth_y,rightmouth_x,rightmouth_y
0,000001.jpg,69,109,106,113,77,142,73,152,108,154
1,000002.jpg,69,110,107,112,81,135,70,151,108,153
2,000003.jpg,76,112,104,106,108,128,74,156,98,158
3,000004.jpg,72,113,108,108,101,138,71,155,101,151
4,000005.jpg,66,114,112,112,86,119,71,147,104,150

In [8]:
dataset_name = 'celeba'
data_path = celeba_path
    
records = []
for i, fname in enumerate(m['image_id'].values):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': f'img_align_celeba/img_align_celeba/{fname}'})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')

# Flickr2K

In [9]:
flickr2k_path = '/gpfs/gpfs0/b.shirokikh/data/SR/Flickr2K/'

In [ ]:
dataset_name = 'Flickr2K'
data_path = flickr2k_path
    
records = []
for i, fname in enumerate(os.listdir(jp(data_path, 'Flickr2K_HR'))):
    _id = f'{dataset_name}_{i}'
    records.append({'id': _id, 'image': f'Flickr2K_HR/{fname}'})
images = pd.DataFrame.from_records(records, index='id')
images.to_csv(jp(data_path, 'images.csv'), index_label='id')